.thumbnail-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.thumbnail {
  width: 150px;
  height: 300px;
  margin-top: 20px;
  margin-left: 20px;
}

.page-selector-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
